In [18]:
# http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:bollinger_bands
import pandas as pd
import pandas_datareader.data as web
import datetime
import numpy as np

a = [90.7, 92.9, 92.98, 91.80, 92.66, 92.66, 92.68, 92.30, 92.77, 92.54, 92.95, 93.20, 91.07, 89.83, 89.74, 90.4, 90.74, 88.02, 88.09, 88.84, 90.78, 90.54, 91.39, 90.65]
random = pd.DataFrame({'Price':a})
random["20d SMA"] = np.round(random["Price"].rolling(window = 20).mean(), 2)

random['20-period Average'] = random['Price'].rolling(20).mean()
random['20-period Average'].values[0:19] = [random['20-period Average'].values[19] for item in range(0, 19)]
random['Deviation'] = random['Price'] - random['20-period Average']
random['Deviation Squared'] = random['Deviation']**2
random['20-period Average of Deviation Squared'] = random['Deviation Squared'].rolling(20).sum()/20
random['Standard Deviation'] = random['20-period Average of Deviation Squared'].apply(np.sqrt)
random.drop(['20-period Average', '20-period Average of Deviation Squared', 'Deviation Squared', 'Deviation', '20-period Average'], axis=1, inplace=True)

random['UB'] = random["20d SMA"] + (random['Standard Deviation'] *2)
random['LB'] = random["20d SMA"] - (random['Standard Deviation'] *2)

random

    Price  20d SMA  Standard Deviation         UB         LB
0   90.70      NaN                 NaN        NaN        NaN
1   92.90      NaN                 NaN        NaN        NaN
2   92.98      NaN                 NaN        NaN        NaN
3   91.80      NaN                 NaN        NaN        NaN
4   92.66      NaN                 NaN        NaN        NaN
5   92.66      NaN                 NaN        NaN        NaN
6   92.68      NaN                 NaN        NaN        NaN
7   92.30      NaN                 NaN        NaN        NaN
8   92.77      NaN                 NaN        NaN        NaN
9   92.54      NaN                 NaN        NaN        NaN
10  92.95      NaN                 NaN        NaN        NaN
11  93.20      NaN                 NaN        NaN        NaN
12  91.07      NaN                 NaN        NaN        NaN
13  89.83      NaN                 NaN        NaN        NaN
14  89.74      NaN                 NaN        NaN        NaN
15  90.40      NaN                 NaN        NaN        NaN
16  90.74      NaN                 NaN        NaN        NaN
17  88.02      NaN                 NaN        NaN        NaN
18  88.09      NaN                 NaN        NaN        NaN
19  88.84    91.34            1.665447  94.670893  88.009107
20  90.78    91.35            1.664065  94.678129  88.021871
21  90.54    91.23            1.634548  94.499096  87.960904
22  91.39    91.15            1.593964  94.337927  87.962073
23  90.65    91.09            1.593766  94.277533  87.902467