In [8]:
import pandas as pd
import pandas_datareader.data as web
import datetime

start = datetime.datetime(2015,12,1)
end = datetime.date.today()

# print aapl.head()

import matplotlib.pyplot as plt   # Import matplotlib
# This line is necessary for the plot to appear in a Jupyter notebook
%matplotlib inline
# Control the default size of figures in this Jupyter notebook
%pylab inline
pylab.rcParams['figure.figsize'] = (15, 9)   # Change the size of plots
apple = web.DataReader("AAPL", 'yahoo', start, end)
apple
# apple["Adj Close"].plot(grid = True)
# aapl["Volume"].plot(grid = True)

Populating the interactive namespace from numpy and matplotlib

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2015-12-01,118.750000,118.809998,116.860001,117.339996,34852400,114.290588
2015-12-02,117.339996,118.110001,116.080002,116.279999,33386600,113.258137
2015-12-03,116.550003,116.790001,114.220001,115.199997,41569500,112.206202
2015-12-04,115.290001,119.250000,115.110001,119.029999,57777000,115.936671
2015-12-07,118.980003,119.860001,117.809998,118.279999,32084200,115.206161
2015-12-08,117.519997,118.599998,116.860001,118.230003,34309500,115.157465
2015-12-09,117.639999,117.690002,115.080002,115.620003,46361400,112.615293
2015-12-10,116.040001,116.940002,115.510002,116.169998,29104200,113.150995
2015-12-11,115.190002,115.389999,112.849998,113.180000,46886200,110.238701
2015-12-14,112.180000,112.680000,109.790001,112.480003,64318700,109.556895
2015-12-15,111.940002,112.800003,110.349998,110.489998,53323100,107.618605
2015-12-16,111.070000,111.989998,108.800003,111.339996,56238500,108.446514
2015-12-17,112.019997,112.250000,108.980003,108.980003,44772800,106.147852
2015-12-18,108.910004,109.519997,105.809998,106.029999,96453300,103.274512
2015-12-21,107.279999,107.370003,105.570000,107.330002,47590600,104.540731
2015-12-22,107.400002,107.720001,106.449997,107.230003,32789400,104.443331
2015-12-23,107.269997,108.849998,107.199997,108.610001,32657400,105.787465
2015-12-24,109.000000,109.000000,107.949997,108.029999,13570400,105.222536
2015-12-28,107.589996,107.690002,106.180000,106.820000,26704200,104.043982
2015-12-29,106.959999,109.430000,106.860001,108.739998,30931200,105.914084
2015-12-30,108.580002,108.699997,107.180000,107.320000,25213800,104.530989
2015-12-31,107.010002,107.029999,104.820000,105.260002,40635300,102.524526
2016-01-04,102.610001,105.370003,102.000000,105.349998,67649400,102.612183
2016-01-05,105.750000,105.849998,102.410004,102.709999,55791000,100.040792
2016-01-06,100.559998,102.370003,99.870003,100.699997,68457400,98.083025
2016-01-07,98.680000,100.129997,96.430000,96.449997,81094400,93.943473
2016-01-08,98.550003,99.110001,96.760002,96.959999,70798000,94.440222
2016-01-11,98.970001,99.059998,97.339996,98.529999,49739400,95.969420
2016-01-12,100.550003,100.690002,98.839996,99.959999,49154200,97.362258
2016-01-13,100.320000,101.190002,97.300003,97.389999,62439600,94.859047
...,...,...,...,...,...,...
2017-03-07,139.059998,139.979996,138.789993,139.520004,17446300,139.520004
2017-03-08,138.949997,139.800003,138.820007,139.000000,18707200,139.000000
2017-03-09,138.740005,138.789993,137.050003,138.679993,22155900,138.679993
2017-03-10,139.250000,139.360001,138.639999,139.139999,19612800,139.139999
2017-03-13,138.850006,139.429993,138.820007,139.199997,17421700,139.199997
2017-03-14,139.300003,139.649994,138.839996,138.990005,15309100,138.990005
2017-03-15,139.410004,140.750000,139.029999,140.460007,25691800,140.460007
2017-03-16,140.720001,141.020004,140.259995,140.690002,19232000,140.690002
2017-03-17,141.000000,141.000000,139.889999,139.990005,43885000,139.990005
2017-03-20,140.399994,141.500000,140.229996,141.460007,21542000,141.460007
2017-03-21,142.110001,142.800003,139.729996,139.839996,39529900,139.839996
2017-03-22,139.850006,141.600006,139.759995,141.419998,25860200,141.419998
2017-03-23,141.259995,141.580002,140.610001,140.919998,20346300,140.919998
2017-03-24,141.500000,141.740005,140.350006,140.639999,22395600,140.639999
2017-03-27,139.389999,141.220001,138.619995,140.880005,23575100,140.880005
2017-03-28,140.910004,144.039993,140.619995,143.800003,33374800,143.800003
2017-03-29,143.679993,144.490005,143.190002,144.119995,29190000,144.119995
2017-03-30,144.190002,144.500000,143.500000,143.929993,21207300,143.929993
2017-03-31,143.720001,144.270004,143.009995,143.660004,19661700,143.660004
2017-04-03,143.710007,144.119995,143.050003,143.699997,19985700,143.699997
2017-04-04,143.250000,144.889999,143.169998,144.770004,19765700,144.770004
2017-04-05,144.220001,145.460007,143.809998,144.020004,27481500,144.020004
2017-04-06,144.289993,144.520004,143.449997,143.660004,21118000,143.660004
2017-04-07,143.729996,144.179993,143.270004,143.339996,16621300,143.339996
2017-04-10,143.600006,143.880005,142.899994,143.169998,18473000,143.169998
2017-04-11,142.940002,143.350006,140.059998,141.630005,30275300,141.630005
2017-04-12,141.600006,142.149994,141.009995,141.800003,20238900,141.800003
2017-04-13,141.910004,142.380005,141.050003,141.050003,17652900,141.050003
2017-04-17,141.479996,141.880005,140.869995,141.830002,16424000,141.830002
2017-04-18,141.410004,142.039993,141.110001,141.199997,14660800,141.199997

In [6]:
from matplotlib.dates import DateFormatter, WeekdayLocator,\
    DayLocator, MONDAY
from matplotlib.finance import candlestick_ohlc
 
def pandas_candlestick_ohlc(dat, stick = "day", otherseries = None):
    """
    :param dat: pandas DataFrame object with datetime64 index, and float columns "Open", "High", "Low", and "Close", likely created via DataReader from "yahoo"
    :param stick: A string or number indicating the period of time covered by a single candlestick. Valid string inputs include "day", "week", "month", and "year", ("day" default), and any numeric input indicates the number of trading days included in a period
    :param otherseries: An iterable that will be coerced into a list, containing the columns of dat that hold other series to be plotted as lines
 
    This will show a Japanese candlestick plot for stock data stored in dat, also plotting other series if passed.
    """
    mondays = WeekdayLocator(MONDAY)        # major ticks on the mondays
    alldays = DayLocator()              # minor ticks on the days
    dayFormatter = DateFormatter('%d')      # e.g., 12
 
    # Create a new DataFrame which includes OHLC data for each period specified by stick input
    transdat = dat.loc[:,["Open", "High", "Low", "Close"]]
    if (type(stick) == str):
        if stick == "day":
            plotdat = transdat
            stick = 1 # Used for plotting
        elif stick in ["week", "month", "year"]:
            if stick == "week":
                transdat["week"] = pd.to_datetime(transdat.index).map(lambda x: x.isocalendar()[1]) # Identify weeks
            elif stick == "month":
                transdat["month"] = pd.to_datetime(transdat.index).map(lambda x: x.month) # Identify months
            transdat["year"] = pd.to_datetime(transdat.index).map(lambda x: x.isocalendar()[0]) # Identify years
            grouped = transdat.groupby(list(set(["year",stick]))) # Group by year and other appropriate variable
            plotdat = pd.DataFrame({"Open": [], "High": [], "Low": [], "Close": []}) # Create empty data frame containing what will be plotted
            for name, group in grouped:
                plotdat = plotdat.append(pd.DataFrame({"Open": group.iloc[0,0],
                                            "High": max(group.High),
                                            "Low": min(group.Low),
                                            "Close": group.iloc[-1,3]},
                                           index = [group.index[0]]))
            if stick == "week": stick = 5
            elif stick == "month": stick = 30
            elif stick == "year": stick = 365
 
    elif (type(stick) == int and stick >= 1):
        transdat["stick"] = [np.floor(i / stick) for i in range(len(transdat.index))]
        grouped = transdat.groupby("stick")
        plotdat = pd.DataFrame({"Open": [], "High": [], "Low": [], "Close": []}) # Create empty data frame containing what will be plotted
        for name, group in grouped:
            plotdat = plotdat.append(pd.DataFrame({"Open": group.iloc[0,0],
                                        "High": max(group.High),
                                        "Low": min(group.Low),
                                        "Close": group.iloc[-1,3]},
                                       index = [group.index[0]]))
 
    else:
        raise ValueError('Valid inputs to argument "stick" include the strings "day", "week", "month", "year", or a positive integer')
 
 
    # Set plot parameters, including the axis object ax used for plotting
    fig, ax = plt.subplots()
    fig.subplots_adjust(bottom=0.2)
    if plotdat.index[-1] - plotdat.index[0] < pd.Timedelta('730 days'):
        weekFormatter = DateFormatter('%b %d')  # e.g., Jan 12
        ax.xaxis.set_major_locator(mondays)
        ax.xaxis.set_minor_locator(alldays)
    else:
        weekFormatter = DateFormatter('%b %d, %Y')
    ax.xaxis.set_major_formatter(weekFormatter)
 
    ax.grid(True)
 
    # Create the candelstick chart
    candlestick_ohlc(ax, list(zip(list(date2num(plotdat.index.tolist())), plotdat["Open"].tolist(), plotdat["High"].tolist(),
                      plotdat["Low"].tolist(), plotdat["Close"].tolist())),
                      colorup = "black", colordown = "red", width = stick * .4)
 
    # Plot other series (such as moving averages) as lines
    if otherseries != None:
        if type(otherseries) != list:
            otherseries = [otherseries]
        dat.loc[:,otherseries].plot(ax = ax, lw = 1.3, grid = True)
 
    ax.xaxis_date()
    ax.autoscale_view()
    plt.setp(plt.gca().get_xticklabels(), rotation=45, horizontalalignment='right')
 
    plt.show()
 
pandas_candlestick_ohlc(aapl)

NameError: name 'aapl' is not defined

In [11]:
microsoft = web.DataReader("MSFT", 'yahoo', start, end)
google = web.DataReader("GOOG", 'yahoo', start, end)
amazon = web.DataReader("AMZN", 'yahoo', start, end)
stocks = pd.DataFrame({"AAPL": apple["Adj Close"],
                      "MSFT": microsoft["Adj Close"],
                      "GOOG": google["Adj Close"],
                      "AMZN": amazon["Adj Close"]})

stocks.head()
# stocks.plot(secondary_y = ["AAPL", "MSFT"], grid = True)

                  AAPL        AMZN        GOOG       MSFT
Date
2015-12-01  114.290588  679.059998  767.039978  53.421354
2015-12-02  113.258137  676.010010  762.380005  53.411678
2015-12-03  112.206202  666.250000  752.539978  52.434577
2015-12-04  115.936671  672.640015  766.809998  54.088878
2015-12-07  115.206161  669.830017  763.250000  53.992136

In [ ]:
stock_return = stocks.apply(lambda x: x / x[0])
stock_return.head()

stock_return.plot(grid = True).axhline(y = 1, color = "black", lw = 2)

In [ ]:
# Let's use NumPy's log function, though math's log function would work just as well
import numpy as np
 
stock_change = stocks.apply(lambda x: np.log(x) - np.log(x.shift(1))) # shift moves dates back by 1.
stock_change.head()
stock_change['MSFT'].plot(grid = True).axhline(y = 0, color = "black", lw = 2)

In [ ]:
start = datetime.datetime(2010,1,1)
apple = web.DataReader("AAPL", "yahoo", start, end)
apple["20d"] = np.round(apple["Close"].rolling(window = 20, center = False).mean(), 2)
apple["50d"] = np.round(apple["Close"].rolling(window = 50, center = False).mean(), 2)
apple["200d"] = np.round(apple["Close"].rolling(window = 200, center = False).mean(), 2)

pandas_candlestick_ohlc(apple.loc['2016-01-04':'2017-1-02',:], otherseries = ["20d", "50d", "200d"])