In [48]:
import sys
sys.path.append('/Users/manu/Code/stcks/data/python')
import pick_ticker
reload(pick_ticker)
l = pick_ticker.ticker_performance()

TSLA 0.168936170213 -0.434194943497

In [49]:
l['50dm'].mean()
((l['close'][-1]/l['close'].max())-1)*100

-0.43419494349723475

In [50]:
l.tail()

,close,high,low,open,volume,20d,50d,50dm,20dm
Date,,,,,,,,,
2017-02-09,269.200012,271.179993,266.149994,266.250000,7820200,249.72,223.51,1.46,1.97
2017-02-10,269.230011,270.950012,266.109985,269.790009,3619700,251.70,225.11,1.60,1.98
2017-02-13,280.600006,280.790009,270.510010,270.739990,7029600,253.85,226.93,1.82,2.15
2017-02-14,280.980011,287.390015,278.609985,279.029999,7329400,256.12,228.91,1.98,2.27
2017-02-15,279.760010,282.239990,276.440002,280.000000,4935600,258.19,230.88,1.97,2.07

In [61]:
l['close'][-10:-8].mean()
l['close'][-3:-1].mean()

280.7900085